.root {
  position: absolute;
  top: 65px;
  right: 70px;
  background-color: #2a2c2d;
  width: 300px;
  padding: 4px 0px;
  color: white;
  padding: 20px;
  font-size: 0.8rem;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #343535;
  /* visibility: hidden; */
}

.paper {
  background-color: #2a2c2d;

  }
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  .noti{
    margin: 1rem;
  }
  .button {
    display: flex;
    justify-content: center;
  }


  .notification--list .notification--item .fade-out, .notification--list .notification--item[data-state="fadeout"] {
    -webkit-animation: fadeOut 200ms 1;
            animation: fadeOut 200ms 1;
  }

  
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1.0;
    }
    to {
      opacity: 0.0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1.0;
    }
    to {
      opacity: 0.0;
    }
  }

  
  
  /*Bell Animation*/
  /* 헤더 종 */
  .notification {
    width: 50px;
    height: inherit;
    color: rgb(14, 80, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content: attr(data-count);
    min-width: 20px;
    height: 20px;
  }
  
  .notification::after {
    min-width: 20px;
    height: 20px;
    content: attr(data-count);
    background-color: red;
    font-family: monospace;
    font-weight: bolt;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: 3px;
    transition: .3s;
    opacity: 0;
    transform: scale(.5);
    will-change: opacity, transform;
    color: white;
  }
  
  .notification.show-count::after {
    opacity: 1;
    transform: scale(1);
  }
  
  .notification::before {
    content: "\f0f3";
    font-family: "FontAwesome";
    display: block;
  }
  
  .notification.notify::before {
    animation: bell 1s ease-out;
    transform-origin: center top;
  }
  
  @keyframes bell {
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    } 
  }
  
  
  /*Notification Dropdown*/
  
  
  .shopping-cart {
    margin: 35px 0;
    float: right;
    background: white;
    width: 375px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    margin-right: 83px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px lightgrey;
   /*visibility: hidden;*/
  
  }
  .shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    font-weight: bold;
  }
  .shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
  }
  .shopping-cart .shopping-cart-items {
    padding-top: 20px;
  }
  .shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
  }

  .shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  .shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
  }
  
  /*Notification item*/
  .cart-item{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(242, 242, 242);
    background-color: white;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  .cart-item:hover{
    box-shadow: 0px 2px 1px rgb(242,242,242);
    transition: .4s;
     transform: translate(0, -1px);
    transform: translate3d(0, -1px, 0);
  }
  
  .cart-item .cart-item-header{
    position: relative;
    color: rgb(80, 80, 80);
    font-size: 17px;
    font-weight: 600;
    top: -12px;
  }
  
  .cart-item .cart-item-date{
    position: relative;
    color: rgb(80, 80, 80);
    font-size: 12px;
    font-weight: 600;
    top: -10px;
  }
  
  .cart-item .cart-icon{
    position: relative;
    font-size: 12px;
    top: -22px;
    left: 290px;
    color: rgb(112, 112, 112)
  }
  
  .cart-item .cart-icon:hover{
    color: red;
    cursor: pointer;
  }
  
  .cart-item .cart-type{
    font-size: 12px;
    color: rgb(160, 160, 160);
    position: relative;
    left: 275px;
    top: 1px;
  }
  
  .cart-date{
    font-size: 14px;
    color: rgb(160, 160, 160);
    position: relative;
    left: 0px;
    top: -5px;
  }
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  

  
  
  /*Clear button css*/
  .clear{
    color: rgb(180, 180, 180);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 290px;
    cursor: pointer;
  }
  
  .clear:hover{
    color: red;
  }