.drawer {
  width: 300px;
  flex-shrink: 0;
  z-index: 2;
}
.loginDrawer {
  top: 54px;
  width: 300px;
  background-color: #1a1b1c;
  align-items: center;
  left: 64px;
}
.logoutDrawer {
  top: 54px;
  width: 300px;
  background-color: #2a2b2c;
  align-items: center;
}
.detail_root {
  overflow: hidden;

  display: flex;
  background-color: #222222;
}
.detail_game_card {
  width: 283px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.detail_router_card {
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  width: 283px;
  height: 80px;
  border-radius: 15px;
  /* border: 1px solid #111111; */
}
.detail_router_card:hover {
  transform: translateY(-0.25em);
  transition: 0.25s;
}
.detail_router_card_image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* filter: blur(0px) grayscale(40%); */
}
.detail_router_card_content {
  position: relative;
  justify-content: flex-end;
  display: flex;
}
.detail_router_card_name {
  font-weight: 14px;
  color: white;
  background-color: black;
  width: 80px;
  border-radius: 8px;
}

.detail_left_container_default {
  width: calc(100vw - 300px);
  /* margin-top: 20px; */
  float: left;
}
.detail_left_container {
  width: 67%;
  /* margin-top: 20px; */
  float: left;
}

.detail_right_container {
  width: 33%;
  float: right;
  box-sizing: border-box;
}
.detail_right_fixed {
  /* background-color: red; */
  margin: 30px 20px;
  position: fixed;
}
.detail_right_non_fixed {
  /* background-color: red; */
  padding: 30px 20px;
  position: absolute;
  top: calc(300px + 54px);
}
.detail_right_info_title {
  color: white;
  margin: 7px 10px 7px 0;
  display: inline;
}
.detail_right_info_detail {
  margin: 7px 0;
  display: inline;
}
.detail_right_info_popular {
  color: white;
  margin: 7px 0;
}
.detail_youtube_card {
  width: 98%;
  margin: 6px 0px 6px 0px;
  display: flex;
  border-radius: 10px;
  border: 1px solid dimgrey;
  box-sizing: border-box;
}
.detail_youtube_card_root {
  margin-top: 10px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px;
  border-radius: 10px;
}
.detail_youtube_card_image {
  width: 50%;
  cursor: pointer;
}
.detail_youtube_card_content {
  width: 50%;
  background-color: #111111;
  overflow: hidden;
}
.detail_youtube_card_title {
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.detail_youtube_card_text {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}
.detail_youtube_card_text_wrap {
  display: flex;
  margin-bottom: 15px;
}
.detail_youtube_card_channel {
  display: flex;
  align-items: center;
}
.detail_youtube_card_avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.detail_youtube_card_channel_title {
  color: grey;
  font-size: 15px;
  font-weight: 550;
  box-sizing: border-box;
  padding-left: 15px;
  cursor: pointer;
}
.detail_youtube_card_description {
  margin-top: 15px;
}
.detail_youtube_card_description_text {
  color: grey;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 56px;
}
.detail_youtube_cards {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.detail_youtube_cards::-webkit-scrollbar {
  background-color: #222222;
}

.detail_youtube_cards::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

.tag {
  color: #111111;
  font-size: 0.7rem;
  transition: 0.25s;
  line-height: 1;
  margin: 3px 3px;
  padding: 10px 10px;
  border-radius: 5px;
}

.tag:hover {
  color: #111111;
  box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#ffa260, 45deg);
  transform: translateY(-0.25em);
}

.detail_main_img {
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.detail_main_img_after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  max-height: 50%;
  background-image: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.6)
  );
}

.detail_main_container {
  /* background-color: red; */
  width: 67%;
  padding-top: 20px;
}

.detail_main_root {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detail_main_item {
  width: 700px;
  height: auto;
  border-radius: 30px;
  padding: 10px 0;
  margin: 20px 0;
  /* border: 2px solid #222222; */
  box-shadow: 0 3px 3px -2px rgb(0 0 0 / 15%), 0 3px 4px 0 rgb(0 0 0 / 10%),
    0 1px 8px 0 rgb(0 0 0 / 9%);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid;
  box-shadow: 5px 5px 5px;
}

.detail_main_default_title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.detail_main_title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  display: inline;
}
.detail_main_title_plus {
  font-size: 1.2rem;
  color: white;
  padding-left: 15px;
  display: inline;
}

.detail_main_video {
  margin: 0 auto;
  height: auto;
  width: 600px;
}

.detail_div_center {
  display: flex;
  justify-content: center;
}

.detail_match_button {
  width: 182px;
  height: 44px;
  margin-top: 50px;
  margin-bottom: 25px;
}
/* .detail_match_button:hover {
  color: black;
} */
