.root{
  color: #cecece;
  margin-left: 0.7rem;
  /* overflow: auto; */
}
.main_title{
  font-weight: bold;
  color: #ccff00;
}
.title{
  color: #cecece;
}
.header_center {
  flex: 0.2;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 0;
  width: 195px;
}
.input_root {
  color: white;
  width: 195px;
  padding-left: 20px;
}
.item {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
} 
.chat{
  left: 350px;
  top: 120px;
  width: 700px;
  height: 500px;
  background-color: #222222;
  transition: 300ms;
  position: fixed;
  z-index: 1000;
  border-radius: 10px;
}
/* .chat_friend{
  position: fixed;
  overflow: auto;
} */
