.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 21px;
  padding: 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 1s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
