.background {
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100vh - 54px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.root {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: #cecece;
}
.form {
  margin-top: 6rem;
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  border-radius: 12px;
}
.policy {
  font-size: 15px;
  margin: 1rem;
}
.input {
  width: 330px;
  background-color: #cecece;
  border-radius: 5px;
  margin-top: 0.2rem;
}
.buttons {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.move_page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.link {
  text-decoration: none;
  color: #cecece;
  z-index: 1000;
}
.form_holder {
  border-radius: 6px;
  overflow: hidden;
  margin-top: 0.7rem;
  opacity: 1;
  visibility: visible;
  width: 300px;
  /* -webkit-transition: all .3s ease; */
}
.newinput {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #ccff00;
  width: 100%;
  font-size: 12px;
  background-color: black;
  color: #cecece;
  margin-top: 0.3rem;
}
