.search_nav_root {
  background-color: #333333;
}
.search_nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.search_nav_btn {
  height: 60px;
  color: white;
  border-radius: 0;
}

.search_nav_cnt {
  color: white;
  margin: 0;
  background-color: black;
  border-radius: 40%;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
  font-size: 13px;
  margin-right: 20px;
}

.search_left_container {
  width: 67%;
  /* margin-top: 20px; */
  float: left;
  /* background-color: chartreuse; */
}

.search_right_container {
  width: 33%;
  /* background-color: red; */
  float: right;
  /* margin-left: 10px; */
  /* padding-left: 10px; */
}

.profile_divider {
  border-top: 1px solid white;
  margin: 5px 0px 5px 0px;
}

.search_all_container {
  overflow: hidden;
  padding-bottom: 20px;
}

.search_content_title {
  color: white;
  margin: 20px 0px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}

.view_all_btn {
  color: white;
  font-weight: bold;
}
