.footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 30px 0;
  bottom: 0;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
  text-align: center;
}

.footer_logo {
  font-weight: bold;
  padding-bottom: 20px;
}

.footer_detail {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.footer_detail ul {
  list-style: none;
  padding-left: 0px;
}

.footer_detail_section {
  display: 1;
  padding: 0 30px;
}

.footer_copyright {
  font-size: 0.8rem;
}
