.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.1rem;
}
.nick {
  font-weight: bold;
  font-size: 15px;
  color: #CCFF00;
}
.email {
  font-size: 12px;
}
.text_margin {
  margin: 0.6rem;
}
.email {
  color: #CFCFCF;
}