/* smallProfile */
.xsmall {
  width: 2.3rem;
  height: 2.3rem;
  font-size: 0.9rem;
}
/* header, chat(groupProfile, chattingProfile) */
.small {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #000000;
  background-color: aqua;
}
/* chatHeader, nav */
.medium {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.4rem;
}
/* mediumProfile */
.large {
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem;
}
/* UserCard,GameCard, editProfile */
.xlarge {
  width: 6.5rem;
  height: 6.5rem;
}