.header {
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  font-weight: bold;
  display: flex;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
}

.header_left {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
}

.header_logo {
  height: 28px;
  cursor: pointer;
}

.header_center {
  flex: 1;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 0;
  width: 400px;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.input_root {
  color: white;
  padding-left: 50px;
}

.search_icon {
  padding-left: 10px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.header_right {
  flex: 1;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.header_right_item {
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 0.65rem;
}

.header_icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 200ms;
  padding: 5px;
}

.header_accountBtn {
  color: white;
  font-size: 0.65rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown_content div {
  padding: 10px 16px;
  font-size: 0.8rem;
  color: black;
}

.dropdown_content p {
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dropdown_content div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown:hover .dropdown_content {
  display: block;
  animation: fade-in 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown_menu {
  display: flex;
}
