.game_card {
  width: 238px;
  height: 283px;
  border-radius: 15px;
  background-color: #2a2c2d;
  text-align: center;
  z-index: 1;
}
.game_card_background_img {
  height: 100px;
}

.card_logo_img {
  position: relative;
  padding: 0px;
  margin-top: -52px;
  margin-left: 67px;
}

.game_card_title {
  color: white;
  margin: 0px;
}

.game_card_button {
  padding: 0;
  justify-content: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.neon-block .block {
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 60px auto; */
  width: 240px;
  height: 285px;
  /* background: linear-gradient(45deg, #272325 40%, #020104); */
  color: #fff;
  /* font-size: 30px; */
  /* text-transform: uppercase; */
  /* letter-spacing: 4px; */
  /* font-family: monospace; */
}
.neon-block .block:after {
  border-radius: 15px;
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  /* z-index: -1; */
  background: linear-gradient(45deg, #ff005e, #fbff00);
  animation: neon-block 1.5s linear infinite;
}
.neon-block .block .rainbow {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  filter: blur(15px);
  /* z-index: -2; */
}
.neon-block .block .rainbow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(315deg, #ff005e, #fbff00);
}
.neon-block .block .rainbow:after {
  animation: neon-block 1.5s linear infinite;
}
@keyframes neon-block {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
