.background_image {
  background-color: rgba(24, 9, 9, 0.4);
  height: calc(100vh - 54px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background {
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100vh - 54px);
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-top: 7rem;
  width: 90%;
  height: auto;
}
.button_group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  margin: 1rem;
}
