.header {
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
}

.header_left {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}

.header_logo {
  height: 54px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
}

.header_logo_icon {
  height: 22px;
  width: auto;
  padding-right: 2px;
}
.header_logo_text {
  height: 28px;
  width: auto;
}

.header_center {
  flex: 1;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 0;
  width: 400px;
}

.input_root {
  color: white;
  width: 400px;
  padding-left: 50px;
}
.header_center:hover {
  background-color: rgba(255, 255, 255, 0.4);
  width: auto;
}

.search_icon {
  padding-left: 10px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.header_right {
  flex: 1;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.header_right_item {
  height: 54px;
  width: 54px;
  margin: 0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
  transform: translateY(-1.5px);
  cursor: pointer;
}

.header_right_item:hover {
  border-bottom: 4px solid #d1d1d1;
  transition: 200ms;
}

.header_right_account_button {
  color: white;
  font-size: 0.9rem;
}

.header_right_icon {
  width: 25px;
  height: 25px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 3px;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown_content div {
  padding: 10px 16px;
  font-size: 0.8rem;
  color: black;
}

.dropdown_content p {
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dropdown_content div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header_right_item:hover .dropdown_content {
  display: block;
  animation: fade-in 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown_menu {
  display: flex;
}

.textarea {
  position: absolute;
  top: 62px;
  background-color: black;
  width: max-content;
  padding: 3px 10px;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}
.noti {
  position: absolute;
  top: 65px;
  right: 70px;
  background-color: #f9f9f9;
  width: 300px;
  /* padding: 4px 0px; */
  padding: 20px;
  font-size: 0.8rem;
  border-radius: 5px;
  /* box-shadow: 0px 1px 5px #343535; */
  box-shadow: 0px 3px 5px lightgrey;

  /* visibility: hidden; */
}

.paper {
  background-color: #f9f9f9;

  }
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #222222;
  }
  .noti_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;

  }
  .button {
    display: flex;
    justify-content: center;
  }





  /* noti */
  .root{
    width: 265px;
    overflow-y: scroll;
    height: 263px;
  }
  .root::-webkit-scrollbar {
    display: none;
  }
  .shopping_cart_items {
    padding-top: 10px;
  }
  
  .no_noti {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 20px;
    /* margin-top: 1em; */
    /* font-weight: bold; */
  }
  .sad_icon{
    width: 100px;
    height: 100px;
    color: #222222;
  }
  
  
  /*Notification item*/
  .cart_item{
    border-style: solid;
    border-width: 1px;
    border-color: #ebe5e5;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 0px;
    height: 53px;
  }
  
  .cart_item:hover{
    box-shadow: 0px 2px 1px #ebe5e5;
    transition: .4s;
     transform: translate(0, -1px);
    transform: translate3d(0, -1px, 0);
  }
  .cart_item_header{
    position:relative;
    color: rgb(80, 80, 80);
    font-size: 15px;
    font-weight: 600;
    top: 14px;
    /* left: 10px; */
    margin-bottom: 1rem;
  }
  
  .cart_item_date{
    position:relative;
    color: rgb(80, 80, 80);
    font-size: 12px;
    font-weight: 600;
    left: 165px;
  }
  
  
  .cart_date{
    font-size: 14px;
    color: rgb(160, 160, 160);
    position: relative;
    left: 0px;
    top: -5px;
  }
  
  .shopping_cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
  
  .cart_icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  

  /* 눈물 흘리는거 */
.eyes {
  width: 230px;
  height: 100px;
  margin-bottom: 10px;
  display: Flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  align-items: center;
}
.eyes:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  border: 3px solid #90fdca;
  transform: rotate(-45deg);
  background: #90fdca;
  top: 85px;
  left: 155px;
  -webkit-animation: cry 3s infinite;
  /*Safari4.0-8.0*/animation: cry 3s infinite;
  z-index: 9999;
}
.eyes .eye {
  width: 25px;
  height: 40px;
  background: #363832;
  border-radius: 50%;
  position: relative;
}
.eyes .eye:first-child:after {
  content: "";
  width: 10px;
  height: 15px;
  background: #FFE8BD;
  display: block;
  border-radius: 50%;
  position: Absolute;
  bottom: 12.5%;
  right: 22.5%;
  transform: rotate(10deg);
}
.eyes .eye:first-child:before {
  content: "";
  display: Block;
  height: 5px;
  width: 35px;
  background: #363832;
  transform: rotate(-35deg);
  position: Absolute;
  top: -20%;
  left: -40%;
}
/* 눈알 */
.eyes .eye:last-child:before {
  content: "";
  width: 10px;
  height: 15px;
  background: #FFE8BD;
  display: block;
  border-radius: 50%;
  position: Absolute;
  bottom: 12.5%;
  right: 22.5%;
  transform: rotate(12deg);
}
.eyes .eye:last-child:after {
  content: "";
  display: Block;
  height: 5px;
  width: 35px;
  background: #363832;
  transform: rotate(35deg);
  position: Absolute;
  top: -20%;
  right: -50%;
}

.sad {
  height: 100px;
  width: 100px;
  margin: auto;
  /*margin-top: 50px;
  */transform: rotate(45deg);
  border-left: 6px solid #363832;
  border-top: 6px solid #363832;
  border-radius: 50%;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sad:after {
  content: "";
  width: 120%;
  height: 100%;
  transform: rotate(-45deg);
  background: #f9f9f9;
  display: block;
  position: Absolute;
  bottom: -10%;
  left: 6%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cry {
  0% {
    top: 85px;
  }
  100% {
    top: 300px;
    opacity: 0;
  }
}
/* Standard syntax */
@keyframes cry {
  0% {
    top: 85px;
  }
  100% {
    top: 500px;
    opacity: 0;
  }
}